#main  {
    border-radius: 15px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}
body {
    background: linear-gradient(to left, #20BF55 30%,#01BAEF 100%);
    margin-top: 20px;
}

#form-select-images {
    display: none;
}

#form-select-images.show {
display: block;
}
#form-select-video {
display: none;
}

#form-select-video.show {
display: block;
}
table {
    border-radius: 5px;
}